.diet{
    display: flex;
    margin: 2px;
}
.bg-img{
    background-image: url(images/three.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
}
.half-width{
    width: 50%;
    margin: 10px;
}
h2{
    font-size: 30px;
}
#img-edit1{
    width: 90%;
    height: 80%;
}
#img-edit2{
    width: 100%;
    height: 50%;
}
.left-part{
    margin-top: 100px;
}
.right-part{
    margin-bottom: 30px;
}
.orange-color{
    color: orange;
}
.font-size{
    font-size: 40px;
}
.right-part2{
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.right-part2 h1{
    font-size: 30px;
}
.right-part2 p{
    margin-bottom: 80px;
}
.left-part p{
    margin-bottom: 50px;
}
#h-text{
    text-align: center;
    margin-top: 0;
}
#p-text{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}
.row img{
    height: 70%;
    width: 75%;
}
.row{
    display: flex;
    margin-left: 8%;
    margin-bottom: 80px;
}
.column p{
    margin-right: 15%;
}
.myitem{
    background-color: grey;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 10%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
#myname{
    color: blue;
}
#my-box{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#net{
    color: grey;
}
#last{
    color: white;
}
.foot-part{
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 90px;
    margin: 0; 
}