.diet{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
}
.half-width{
    width: 50%;
    margin: 10px;
}
h2{
    font-size: 30px;
}
.half-width img{
    width: 90%;
}
.left-part{
    margin-top: 100px;
}
.right-part{
    margin-bottom: 80px;
}
.orange-color{
    color: orange;
}
.font-size{
    font-size: 40px;
}